@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.mae{
    max-width: 350px;
    margin: auto;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 50px;
}
.imagem{
    background-image: url(imagens/trono-editado-celular.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 70vh;
}
.sec1{
    text-align: center;
    font-weight: 600;
    font-size: 19px;
}
.titulo1{
    padding: 40px 0px 35px 0px;
    line-height: 1.3em;
}
.sec2{
    text-align: center;
    margin-top:30px ;
}
.sec2 .mercadopago{
    width: 200px;
   margin-top: 50px; 
   margin-bottom: 40px;
    
}
.bandeira{
    width: 350px;
    margin-bottom: 80px;
}
.sec2 .letras{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -3px;
    line-height: 30px;
}
.letras2{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 50px;
}
form{
    text-align: justify;
    letter-spacing: -1px;
    font-weight: 700;
}
#name , #numero{
    width: 350px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    border: none;
    background-color: #E3E3E7;
    margin-top: 10px;
    margin-bottom:15px ;
}
.comprar {
    margin: auto; 
    text-align: center;
}
.comprar input{
    background-color: #00FFA0;
    height: 55px;
    border-radius: 27px;
    border: none;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}
.comprar input:hover{
    background-color: #00b371;
}
.p{
    display: inline;
}    
.vermelho{
    
    color: red;  
}
.sec2 img{
    margin-bottom: 30px;
}
