@charset "UTF-8";

@media screen and (min-width:500px) {
    img{
        width: 450px;
        height:auto;
    }
    div.white{
        display: block;
        margin: auto;
        background-color: white;
        max-width: 450px;
        margin-bottom: 10px; 
    }
}
@media screen and (min-width:650px) {
    img{
        width: 600px;
        height:auto;
    }
    div.white{
        display: block;
        margin: auto;
        background-color: white;
        max-width: 600px;
        margin-bottom: 10px; 
    }
}
@media  screen and (min-width:700px) {
    img{
        width: 200px;
        height:auto;
    }
    div.white{
        display: block;
        margin: auto;
        background-color: white;
        max-width: 200px;
        margin-bottom: 10px; 
    }
    .mae{
        display: flex;
    justify-content: space-around;
    }
    .linha1{
        display: inline-block;
        min-height: 590px;
        
    }
    .juntinho{
        display:grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
    .blue{
        grid-column: span 2;
    }
}
@media screen and (min-width:950px) {
    .mae{
        text-align: justify;
        margin-left: 18% ;
        margin-right: 18%;
        padding-top: 20px;
        max-height: 530px;
    }
    img{
        width: 250px;
        height: 170px;
    }
    div.white{
        display: block;
        margin: auto;
        background-color: white;
        max-width: 250px;
        margin-bottom: 10px; 
        
    }
}