@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    border-radius:10px ;
    margin-bottom:40px ;
}
img{
    width: 350px;
    height: 270px;
    display: block;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px 10px 0px 0px;
}
.cadastro{
    background-color:#f9ede8 ;
    max-width: 350px;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
}
h1{
    text-align: center;
    padding: 40px 0px 30px 0px; 
    color: #ffb4b1;
    text-shadow: 1px 1px 1px palevioletred;
}
p{
    line-height: 1.4em;
    padding: 0px 10px 30px 10px;
    text-align: center;
}
.redondo{
    display: flex;
    align-items:center ;
    justify-content: center;
    
}
#emai{
    width: 220px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid pink;
    text-align: center;
}
#sub{
    width: 220px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid palevioletred;
    background-color: #ffb4b1;
    margin-left: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#sub:hover{
    background-color: #bc8482 ;
    cursor: pointer;
}


