@charset "UTF-8";
 
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  /*
  #17212A 
  #202741
  #293C5D
  #2C355C
  #5968AB
  */
  #head {
    background-image: url(imagens/pexels-felix-mittermeier-956999.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 150px;
    color: white;
    text-align: center;
  }
  main{
    width: 350px;
    margin: auto;
  }
  main h1,h2{
    text-align: center;
    color:#17212A  ;
  }
  main table{
     text-align: center;
     border-collapse:collapse ;
     margin: auto;
  }
  main td,th{
    border: 2px solid;
  }
  main th{
    
  }
  main td{
    background-color: #5968AB;
  }
  .h2{
    background-image: url(imagens/pexels-philippe-donn-1169754.jpg);
    background-position: center center;
    background-attachment: fixed;
    height: 30vh;
    color: white;
  }
  .inputtxt{
    width: 100%;
    margin: 30px 0;
    
  }
  .inputtxt label{
    transition: .5s ease-in-out;
  }
  .inputtxt input{
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid #5968AB ;
    outline: 0;
  }
  input::placeholder{
    font-size:15px ;
  }
  .inputtxt input:focus,
  .inputtxt  input:valid{
    border-bottom: 2px solid #2b3a7d;
  }  
  .formradio label{
    

  }   
  .parallax{
    background-image: url(imagens/galaxia.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
  }
  img{
    width: 350px;
  }