@charset "UTF-8";
 
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  /*
  #17212A 
  #202741
  #293C5D
  #2C355C
  #5968AB
  */
  #head {
    background-image: url(imagens/pexels-felix-mittermeier-956999.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 150px;
    color: white;
    text-align: center;
  }
  main{
    width: 350px;
    margin: auto;
  }
  main h1,h2{
    text-align: center;
    color:#17212A  ;
  }
  main table{
     text-align: center;
     border-collapse:collapse ;
     margin: auto;
  }
  main td,th{
    border: 2px solid;
  }
  main th{
    
  }
  main td{
    background-color: #5968AB;
  }
  .h2{
    background-image: url(imagens/pexels-philippe-donn-1169754.jpg);
    background-position: center center;
    background-attachment: fixed;
    height: 30vh;
    color: white;
  }
  #name , #email{
    width: 230px;
    height: 25px;
    border: 1px solid #17212A ;
    background-color: #5968AB;
    border-radius: 15px;
    
  }
  .parallax{
    background-image: url(imagens/galaxia.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
  }
  img{
    width: 350px;
  }