@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:#11A2F0 ;
}
.container{
    display: flex;
    width: 1100px;
    margin:auto;
    margin-top: 50px;
}
img{
    width: 550px;
}
.lado-direito{
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
.lado-esquerdo{
    width: 50%;
}
.pai-cadastro{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.cadastro{
    color: #11A2F0;
    padding-right: 90px;
}
.cadastro h1::after{
    content: '';
    display: block;
    margin:0 auto;
    width: 5rem;
    height: 0.3rem;
    position: absolute;
    border-radius: 10px;
    background-color: #11A2F0
    
}
.login button{
    background-color: #11A2F0;
    border: none;
    padding: 5px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8px;
    font-weight: 700;
    color: white;
}
.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}
.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}
.input-box input:hover{
    background-color: #eeeeee75;
}
.input-box input:focus-visible{
    outline:1px solid #11A2F0;
}
.input-box label,
.gender-title{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}
.input-box input::placeholder{
    color: #000000be;
}
.gender{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}
.gender-input{
    display: flex;
    align-items: center;
}
.gender-input input{
    margin-right: 0.35rem;
    margin: 4px;
}
.gender-input label{
    font-size:0.81rem;
    font-weight: 600;
    color: #000000c0;
}
.continue{
    width: 450px;
    margin-top: 20px ;
    height: 30px;
    border: none;
    background-color: #11A2F0;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
